<div id="viewRegister">
    <form class="form-register" name="registerForm">
        <h3 class="form-register-heading">Register an user</h3>

        <div class="form-group">
            <label for="inputUser" class="sr-only">User name</label>
            <input id="inputUser" class="form-control" placeholder="User"
                   ng-model="registerInfo.UserID" required autofocus>
        </div>

        <div class="form-group">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control"
                   ng-model="registerInfo.Password" placeholder="Password" required>
        </div>

        <div class="progress">
            <div class="{{ProgressClass}}" role="progressbar" aria-valuenow="{{PasswordStrengthValue}}" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                <span class="sr-only">{{PasswordStrengthValue}}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="inputConfirmPassword" class="sr-only">Confirmed Password</label>
            <input type="password" id="inputConfirmPassword"
                   class="form-control" ng-model="registerInfo.ConfirmedPassword"
                   placeholder="Confirmed Password" required>
        </div>

        <div class="form-group">
            <label for="inputDisplayAs" class="sr-only">Display As</label>
            <input id="inputDisplayAs" class="form-control" placeholder="Display As"
                   ng-model="registerInfo.DisplayAs" required autofocus>
        </div>

        <div class="form-group">
            <label>
                <input type="radio" name="gender" value="1" ng-model="regGender">
                Male
            </label>
            <label>
                <input type="radio" name="gender" value="0" ng-model="regGender">
                Female
            </label>
        </div>

        <div class="form-group">
            <label for="inputMail" class="sr-only">Mailbox</label>
            <input type="email" id="inputMail" class="form-control" ng-model="registerInfo.Mailbox"
                   placeholder="Email" required>
        </div>

        <div class="form-group">
            <button class="btn btn-lg btn-primary" type="submit"
                    ng-disabled="registerForm.$invalid" ng-click="submitRegister()">
                Register
            </button>
            <button class="btn btn-lg" ui-sref="login">Cancel</button>
        </div>
    </form>
</div>
